body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/a-good-backrooms-wallpaper-texture-2048x2048-v0-z3r799qmmgr91.webp")

}
    
#cookie {
    background-image: url("img/y_coockie.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#count {
    font-size:5rem;
    user-select: none;
}


button {
    font-size:5rem;
    user-select: none; 
    color: hsl(41, 100%, 50%);
    background-color: #6b5f18;
}

.highscoreStyle{
    font-size: 50px;
    align-items:top ;
    user-select: none;
color: #5c7500;




}


.title {
    color: #442705;
    font-size: 50px;
    user-select: none;
}